<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <title>Оценки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
        .fsize { width: 140px; }
        
        .pull-right {
            float: right !important;
        }
    </style>
    <style type="text/css">
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container .text-muted {
            margin: 20px 0;
        }

        .footer > .container {
            padding-right: 15px;
            padding-left: 15px;
        }

    </style>
    <link href="//getbootstrap.com/examples/sticky-footer/sticky-footer1.css" rel="stylesheet">
</head>
<body>
<script type="text/javascript">
  VK.init({apiId: 5784214, onlyWidgets: true});
</script>
    
<div class="container" ng-app="mapp">
    <div class="page-header">
        <table style="width: 100%;">
            <tr>
                <td>
                    <h2>Первый курс пройден, как насчет второго?</h2>
                </td>
                <td>
                    <div style="text-align:right"><div id="vk_like"></div></div>
                </td>
            </tr>
        </table>
        <script type="text/javascript">
         VK.Widgets.Like("vk_like", {type: "mini"});
        </script>
    </div>
    <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#menu1">Алго</a></li>
    <li><a data-toggle="pill" href="#menu2">МатСтат</a></li>
    <li><a data-toggle="pill" href="#menu3">Экономика</a></li>
    <li><a data-toggle="pill" href="#menu4">Оси</a></li>
    <li><a data-toggle="pill" href="#menu5">Java</a></li>
    <li><a data-toggle="pill" href="#menu6">Бонус</a></li>
  </ul>
    <br>
    <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active" ng-controller="ctrl1">
    <div class="panel panel-info">
      <div class="panel-heading">Введите полученные оценки</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Первый семестр</label>
              <input class="fsize" type="number" ng-model="p1">
              <label>x{{k1}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Контрольная</label>
              <input class="fsize" type="number" ng-model="p2">
              <label>x{{k2}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Домашки</label>
              <input class="fsize" type="number" ng-model="p3">
              <label>x{{k3}} x{{kn}}</label>
          </div>
          <br/>
          <div>
            <label class="fsize">Бонусы</label>
              <input class="fsize" type="number" ng-model="p4">
              <label>x{{k4}} x{{kn}}</label>
          </div>
          <br/>
          <div>
     	      <label class="fsize">Экзамен</label>
              <input class="fsize" type="number" ng-model="p5">
              <label>x{{k5}}</label>
          </div>
          <hr>
          <div>
            <label class="fsize">Дополнительно</label>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/12dSyYWYqk9OqlOF5TUZ1RO6_Zw5_gfOEMxm0fggNfmY/edit#gid=0">накоп</a>
          </div>
    </div>
    </div>
    <div class="panel" ng-class="{'panel-danger': pioI<4, 'panel-warning': 4<=pioI&&pioI<6, 'panel-success': pioI>=6}">
      <div class="panel-heading">Результат</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Итоговая</label>
              <label class="fsize">{{pioF}} ~ {{pioI}}</label>
              <label ng-if="pioI>=4"></label>
              <label ng-if="pioI<4">Tobi Pisda</label>
          </div>
    </div>
    </div>
    </div>
        
    <div id="menu2" class="tab-pane fade" ng-controller="ctrl2">
    <div class="panel panel-info">
      <div class="panel-heading">Введите полученные оценки</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Контрольная</label>
              <input class="fsize" type="number" ng-model="p1">
              <label>x{{k1}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Домашки</label>
              <input class="fsize" type="number" ng-model="p2">
              <label>x{{k2}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Экзамен</label>
              <input class="fsize" type="number" ng-model="p3">
              <label>x{{k3}}</label>
          </div>
          <hr>
          <div>
            <label class="fsize">Дополнительно</label>
            <a target="_blank" href="https://drive.google.com/file/d/0BzSg2V-5eLm8Z0xPWFBVXzJSMmc/view">накоп</a>
          </div>
    </div>
    </div>
    <div class="panel" ng-class="{'panel-danger': pioI<4, 'panel-warning': 4<=pioI&&pioI<6, 'panel-success': pioI>=6}">
      <div class="panel-heading">Результат</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Итоговая</label>
              <label class="fsize">{{pioF}} ~ {{pioI}}</label>
              <label ng-if="pioI>=4"> </label>
              <label ng-if="pioI<4">Tobi Pisda</label>
          </div>
    </div>
    </div>
    </div>
        
    <div id="menu3" class="tab-pane fade" ng-controller="ctrl3">
    <div class="panel panel-info">
      <div class="panel-heading">Введите полученные оценки</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Семинары</label>
              <input class="fsize" type="number" ng-model="p1">
              <label>x{{k1}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Домашки</label>
              <input class="fsize" type="number" ng-model="p2">
              <label>x{{k2}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Экзамен</label>
              <input class="fsize" type="number" ng-model="p3">
              <label>x{{k3}}</label>
          </div>
    </div>
    </div>
    <div class="panel" ng-class="{'panel-danger': pioI<4, 'panel-warning': 4<=pioI&&pioI<6, 'panel-success': pioI>=6}">
      <div class="panel-heading">Результат</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Итоговая</label>
              <label class="fsize">{{pioF}} ~ {{pioI}}</label>
              <label ng-if="pioI>=4"></label>
              <label ng-if="pioI<4">Tobi Pisda</label>
          </div>
    </div>
    </div>
    </div>
        
    <div id="menu4" class="tab-pane fade" ng-controller="ctrl4">
    <div class="panel panel-info">
      <div class="panel-heading">Введите полученные оценки</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Контрольная</label>
              <input class="fsize" type="number" ng-model="p1">
              <label>x{{k1}} x{{kn}}</label>
          </div>
          <br/>
          <div>
            <label class="fsize">Семинары</label>
              <input class="fsize" type="number" ng-model="p2">
              <label>x{{k2}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">Экзамен</label>
              <input class="fsize" type="number" ng-model="p3">
              <label>x{{k3}}</label>
          </div>
          <hr>
          <div>
            <label class="fsize">Дополнительно</label>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1KWpJMH_7I-EPQ_8fvb0w-0LDcFn1LvdweY1fO9haM_U/edit#gid=0">домашки 153</a>
            <label>, </label>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1Ae4dxkUaLK33EA2NbAn_I5y6dHiSQwO4m1pRBiW_gYc/edit#gid=0">домашки 154</a>
            <label> и </label>
            <a target="_blank" href="https://drive.google.com/open?id=0B91x_nAaFQ-YTFZ6NzJlUUtQM2s">контрольная</a>
          </div>
    </div>
    </div>
    <div class="panel" ng-class="{'panel-danger': pioI<4, 'panel-warning': 4<=pioI&&pioI<6, 'panel-success': pioI>=6}">
      <div class="panel-heading">Результат</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Итоговая</label>
              <label class="fsize">{{pioF}} ~ {{pioI}}</label>
              <label ng-if="pioI>=4"></label>
              <label ng-if="pioI<4">Tobi pisda</label>
          </div>
    </div>
    </div>
    </div>
        
    <div id="menu5" class="tab-pane fade" ng-controller="ctrl5">
    <div class="panel panel-info">
      <div class="panel-heading">Введите полученные оценки</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">КР1</label>
              <input class="fsize" type="number" ng-model="p1">
              <label>x{{k1}} x{{km}} x{{kn}}</label>
          </div>
          <br/>
          <div>
            <label class="fsize">СР1</label>
              <input class="fsize" type="number" ng-model="p2">
              <label>x{{k2}} x{{km}} x{{kn}}</label>
          </div>
          <br/>
          <div>
            <label class="fsize">Зимний экзамен</label>
              <input class="fsize" type="number" ng-model="p3">
              <label>x{{k3}} x{{km}} x{{kn}}</label>
          </div>
          <br/>
        <div>
     	      <label class="fsize">СР2</label>
              <input class="fsize" type="number" ng-model="p4">
              <label>x{{k4}} x{{km}} x{{kn}}</label>
          </div>
        <br/>
        <div>
            <label class="fsize">КДЗ Пятнашки</label>
              <input class="fsize" type="number" ng-model="p5">
              <label>x{{k5}} x{{km}} x{{kn}}</label>
          </div>
        <br/>
        <div>
            <label class="fsize">СР3 Паттерны</label>
              <input class="fsize" type="number" ng-model="p6">
              <label>x{{k6}} x{{km}} x{{kn}}</label>
          </div>
        <br/>
        <div>
     	      <label class="fsize">СР4 Домашки</label>
              <input class="fsize" type="number" ng-model="p7">
              <label>x{{k7}} x{{km}} x{{kn}}</label>
          </div>
        <br/>
        <div>
     	      <label class="fsize">Экзамен</label>
              <input class="fsize" type="number" ng-model="p8">
              <label>x{{k8}}</label>
          </div>
          <hr>
          <div>
            <label class="fsize">Дополнительно</label>
            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1HAm8mlAIB6gMskNZudunbqUIjitvgLmLRpALMdiK5OY/edit#gid=1347556945">накоп 151</a>
            <label> и </label>
            <a target="_blank" href="https://drive.google.com/open?id=0BzSg2V-5eLm8bnZiN2ExMHZ2eHM">накоп 152,153,154</a>
          </div>
    </div>
    </div>
    <div class="panel" ng-class="{'panel-danger': pioI<4, 'panel-warning': 4<=pioI&&pioI<6, 'panel-success': pioI>=6}">
      <div class="panel-heading">Результат</div>
      <div class="panel-body">
          <div>
     	      <label class="fsize">Итоговая</label>
              <label class="fsize">{{pioF}} ~ {{pioI}}</label>
              <label ng-if="pioI>=4"></label>
              <label ng-if="pioI<4">Tobi pisda</label>
          </div>
    </div>
    </div>
    </div>

    <div id="menu6" class="tab-pane fade" ng-controller="ctrl6">
    <div class="panel panel-info">
      <div class="panel-heading">Бонусный coub</div>
      <div class="panel-body">
      <iframe src="//coub.com/embed/mfjx740?muted=false&autostart=false&originalSize=false&startWithHD=false" allowfullscreen="true" frameborder="0" width="640" height="480"></iframe>
      </div>
      </div>
    </div>
    </div>
    
    
</div>
    
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Все персонажи и коэффициенты вымышлены. Любые совпадения случайны. Автор не несёт ответстренности за кривые руки.</p>
      </div>
    </footer>
    
<script>
    var app = angular.module('mapp', []);
    app.controller('ctrl1', function($scope, $http, $timeout, $interval) {
        $scope.p1=4;    
        $scope.p2=4;
        $scope.p3=4;
        $scope.p4=0;
        $scope.p5=4;

        $scope.doit = function(){
            $scope.p1=clamp($scope.p1,0,10);
            $scope.p2=clamp($scope.p2,0,10);
            $scope.p3=clamp($scope.p3,0,10);
            $scope.p4=clamp($scope.p4,0,10);
            $scope.p5=clamp($scope.p5,0,10);
            
            $scope.k1=0.2;
            $scope.k2=0.45; 
            $scope.k3=0.35;
            $scope.k4=0.1;
            $scope.k5=0.4;
            $scope.kn=0.6;

            $scope.pio=$scope.kn * ( $scope.p1*$scope.k1+$scope.p2*$scope.k2+$scope.p3*$scope.k3+$scope.p4*$scope.k4 ) + $scope.p5*$scope.k5;
            
            
            $scope.pioF=$scope.pio.toFixed(2);
            $scope.pioI=$scope.pio.toFixed(0);

        };
        $scope.doit();
        $scope.$watch('p1', function(){ $scope.doit(); });        
        $scope.$watch('p2', function(){ $scope.doit(); });
        $scope.$watch('p3', function(){ $scope.doit(); });
        $scope.$watch('p4', function(){ $scope.doit(); });
        $scope.$watch('p5', function(){ $scope.doit(); });

            
    
});
    
    app.controller('ctrl2', function($scope, $http, $timeout, $interval) {
        $scope.p1=4;    
        $scope.p2=4;
        $scope.p3=4;


        $scope.doit = function(){
            $scope.p1=clamp($scope.p1,0,10);
            $scope.p2=clamp($scope.p2,0,10);
            $scope.p3=clamp($scope.p3,0,10);
            
            $scope.k1=0.35;
            $scope.k2=0.65; 
            $scope.k3=0.55;
            $scope.kn=0.45;
            
            $scope.pio= $scope.kn * ($scope.k1*$scope.p1+$scope.k2*$scope.p2) + $scope.k3*$scope.p3;
            
            $scope.pioF=$scope.pio.toFixed(2);
            $scope.pioI=$scope.pio.toFixed(0);
            
        };
        $scope.doit();
        $scope.$watch('p1', function(){ $scope.doit(); });        
        $scope.$watch('p2', function(){ $scope.doit(); });
        $scope.$watch('p3', function(){ $scope.doit(); });

            
    
});
    
    app.controller('ctrl3', function($scope, $http, $timeout, $interval) {
        $scope.p1=4;    
        $scope.p2=4;
        $scope.p3=4;        


        $scope.doit = function(){
            $scope.p1=clamp($scope.p1,0,10);
            $scope.p2=clamp($scope.p2,0,10);
            $scope.p3=clamp($scope.p3,0,10);
            
            $scope.k1=0.2;
            $scope.k2=0.3; 
            $scope.k3=0.5;
            
            $scope.pio= $scope.k1*$scope.p1+$scope.k2*$scope.p2+$scope.k3*$scope.p3;

            
            $scope.pioF=$scope.pio.toFixed(2);
            $scope.pioI=$scope.pio.toFixed(0);
            
        };
        $scope.doit();
        $scope.$watch('p1', function(){ $scope.doit(); });        
        $scope.$watch('p2', function(){ $scope.doit(); });
        $scope.$watch('p3', function(){ $scope.doit(); });

            
    
});
    
    app.controller('ctrl4', function($scope, $http, $timeout, $interval) {
        $scope.p1=4;    
        $scope.p2=4;
        $scope.p3=4;


        $scope.doit = function(){
            $scope.p1=clamp($scope.p1,0,10);
            $scope.p2=clamp($scope.p2,0,10);
            $scope.p3=clamp($scope.p3,0,10);   
            
            $scope.k1=0.328;
            $scope.k2=0.672;
            $scope.k3=0.25;
            $scope.kn=0.75;
            
            $scope.pio= $scope.kn * ($scope.k1*$scope.p1+$scope.k2*$scope.p2) + $scope.k3*$scope.p3;
            
            $scope.pioF=$scope.pio.toFixed(2);
            $scope.pioI=$scope.pio.toFixed(0);
            
        };
        $scope.doit();
        $scope.$watch('p1', function(){ $scope.doit(); });        
        $scope.$watch('p2', function(){ $scope.doit(); });
        $scope.$watch('p3', function(){ $scope.doit(); });

            
    
});

    app.controller('ctrl5', function($scope, $http, $timeout, $interval) {
        $scope.p1=4;    
        $scope.p2=4;        
        $scope.p3=4;
        $scope.p4=4;
        $scope.p5=4;
        $scope.p6=4;
        $scope.p7=4;
        $scope.p8=4;

        $scope.doit = function(){
            $scope.p1=clamp($scope.p1,0,10);
            $scope.p2=clamp($scope.p2,0,10);
            $scope.p3=clamp($scope.p3,0,10);   
            $scope.p4=clamp($scope.p4,0,10);  
            $scope.p5=clamp($scope.p5,0,10);  
            $scope.p6=clamp($scope.p6,0,10);  
            $scope.p7=clamp($scope.p7,0,10);  
            $scope.p8=clamp($scope.p8,0,10);   
  
            $scope.k1=0.75;
            $scope.k2=0.25;          
            $scope.k3=0.75;
            $scope.k4=0.25;
            $scope.k5=0.75;
            $scope.k6=0.25;
            $scope.k7=1.0;
            $scope.k8=0.5;

            $scope.km = 0.25;
            $scope.kn = 0.5;
            
            $scope.m1 = $scope.k1*$scope.p1 + $scope.k2*$scope.p2;
            $scope.m1 = Math.round($scope.m1);

            $scope.m2 = $scope.k3*$scope.p3 + $scope.k4*$scope.p4;
            $scope.m2 = Math.round($scope.m2);

            $scope.m3 = $scope.k5*$scope.p5 + $scope.k6*$scope.p6;
            $scope.m3 = Math.round($scope.m3);

            $scope.m4 = $scope.k7*$scope.p7;
            $scope.m4 = Math.round($scope.m4);

            $scope.no = $scope.km * ($scope.m1 + $scope.m2 + $scope.m3 + $scope.m4);
            $scope.no = Math.round($scope.no);

            $scope.pio = $scope.kn*$scope.no + $scope.k8*$scope.p8;
            
            $scope.pioF = $scope.pio.toFixed(2);

            if ($scope.no < $scope.p8){
              $scope.pioI = Math.ceil($scope.pio);
            } else {
              $scope.pioI = Math.floor($scope.pio);
            }
            
        };
        $scope.doit();
        $scope.$watch('p1', function(){ $scope.doit(); });        
        $scope.$watch('p2', function(){ $scope.doit(); });        
        $scope.$watch('p3', function(){ $scope.doit(); });
        $scope.$watch('p4', function(){ $scope.doit(); });
        $scope.$watch('p5', function(){ $scope.doit(); });
        $scope.$watch('p6', function(){ $scope.doit(); });
        $scope.$watch('p7', function(){ $scope.doit(); });
        $scope.$watch('p8', function(){ $scope.doit(); });


});
    
    function toint(n)
    {
        return Number(n.toFixed(0));
    }
    
    function clamp(n,min,max)
    {
        if(n<min) return min;
        if(n>max) return max;
        return n;
    }
</script>

</body>
</html>